/* Import main font */
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Raleway&display=swap');

/* Set up primary colours as variables */
:root {
  --background-blue:      #C9D5F4; 
  --accent-colour:        #4E58BA; 
  --highlight-colour:     #1926E4; 
  --text-colour:          #212529; 
  --logo-shape-colour:    #1565C0; 
  --main-font:            'Raleway';
}

/* Header styling */
#quarto-header nav {
  padding-left: 0em !important;
  padding-right: 0em !important;
}

/* Page title styling */
.quarto-title {
  padding-top: 30px;
}

/* Styling for listing page category objects */
.listing-category {
  background: var(--accent-colour) !important;
  color: white !important;
  border-radius: 45px !important;
  padding: 3px 8px !important;
  text-align: center !important;
  width: max-content !important;
  display: inline !important;
  margin-right: 8px !important;
  border: 0px solid white !important;
  opacity: 0.6;
}

/* Styling for general quarto category objects */
.quarto-category {
  background: var(--accent-colour) !important;
  color: white !important;
  border-radius: 45px !important;
  padding: 3px 8px !important;
  text-align: center !important;
  width: max-content !important;
  display: inline !important;
  margin-right: 8px !important;
  border: 0px solid white !important;
}

/**** Navbar overrides *****/

/* Website title */
.navbar-title {
  text-decoration: none;
  background-size: 80% 100% !important;
  transition: background .35s !important;
  background-image: linear-gradient(transparent 60%, var(--background-blue) 60%) !important;
  background-size: 60% 100% !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
  color: var(--text-colour) !important; /* title text colour */
}

/* Website title hover behaviour */
.navbar-title:hover {
  background-size: 100% 100% !important;
}

header nav {
  height: 120px;
}

/* Navbar background styling */
.navbar {
  background-color: white;
  box-shadow: 0 0 50px rgb(252 252 252 / 76%);
  min-height: 100px !important;
  position: fixed;
  width: 100%;
}

.quarto-container {
  margin-top: 100px !important;
}

.navbar-dark .navbar-brand {
  color: var(--text-colour) !important;
  height: inherit;
  line-height: 30px !important;
  padding-top: 7px !important;
  padding-bottom: 5px !important;
  margin-left: 50px;
  font-weight: 500;
  font-size: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--text-colour) !important;
}

/* Navbar search button */
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  display: true;
  color: var(--accent-colour) !important;
}

/* Navbar background styling (se repite, pero con rgba) */
.navbar {
  background-color: white;
  box-shadow: 0 0 50px rgba(252, 252, 252, 0.76);
  min-height: 100px !important;
}

li.nav-item {
  text-align: center !important;
}

.navbar-brand {
  color: var(--text-colour) !important;
}

a.nav-link {
  font-weight: 200 !important;
  color: var(--text-colour) !important;
}

/* Colour/behaviour of navbar link for active page */
.navbar .navbar-nav .nav-link.active {
  font-weight: 700 !important;
  color: var(--accent-colour) !important;
}

/* Navbar link positioning */
.navbar-brand,
.navbar-nav li.nav-item a.nav-link {
  height: inherit;
  line-height: 30px !important;
  padding-top: 7px !important;
  padding-bottom: 5px !important;
}

/* Navbar link underlining */
a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .5s;
}

a.nav-link {
  position: relative;
}

/* Navbar link underlining */
a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: var(--accent-colour);
  height: 2px;
}

/* Navbar link hover underlining */
a.nav-link:hover:after {
  width: 70%;
}

/* Navbar link hover behaviour */
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--accent-colour) !important;
}

/* Navbar collapsing icon */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23212539' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-collapse {
  background-color: white !important;
}

@media (max-width: 991.98px) {
  .navbar .container-fluid {
    justify-content: flex-start !important;
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    position: absolute;    
    top: 100%;             
    left: 0;               
    width: 100vw;          
    padding-left: 0;       
    padding-right: 0;
    margin: 0;            
  }

  .navbar-collapse.collapse.show {
    background-color: white;
  }
}

p > a:hover {
  color: var(--accent-colour);
  text-decoration: none;
}

p > a {
  position: relative;
  color: var(--accent-colour);
  text-decoration: none;
}

/* Link colour */
ul.share li a {
  background-color: var(--highlight-colour);
}

/* Link hover underlining */
p > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-colour);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

/* Style nav bar icons */
li.nav-item i {
  color: var(--accent-colour) !important;
}

/* Link colour general */
a {
  color: var(--accent-colour);
}

/* Link hover colour */
a:hover {
  color: var(--accent-colour);
}

/* Link hover underlining */
p > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Styling for code blocks */
/* div.sourceCode {
     background-color: white;
     border: 1px solid gray;
     border-radius: 0.25rem;
} */

code span.fu {
  color: var(--text-colour);
}

code span.st {
  color: white;
}

/* Colour for shapes in logo/title */
code span.at {
  color: var(--text-colour);
}

code span.cn {
  color: white;
}

img.rounded {
  border-radius: 50px 20px 50px 20px !important;
}

div.embed-container {
  position: relative;
  padding-bottom: 70%;
  overflow: hidden;
  max-width: 100%;
}

div.embed-container iframe,
div.embed-container object,
div.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 515px;
  display: block;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: var(--background-blue);
  text-align: center;
}

.listing-title {
  color: var(--text-colour);
  transition: color .3s ease;
}
.listing-title:hover {
  color: var(--accent-colour);
  text-decoration: none;
}
